$white: #e7e7e7;
$gray-lt: #afafbf;
$gray:#444452;
$blue-dr: #171c28;
$blue: #007bff;
$yellow: #ffdc00;
$red: #b71c1c;


// Header nad Footer
$title: $white;
$subtitle: $yellow;
$color-text: $gray-lt;
$color-text-hover: $white;
$color-background: $blue-dr;
$social-icons: $gray;
$social-icons-hover: $white;
$project-title-color: $white;
$project-label-color: $yellow;

$footer: $gray;

$font-default: Monospace;

// Variables for screen width
$small-screen: 768px;
$large-screen: 1024px;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
  transition:
  color 0.2s,
}

body {
  color: $color-text;
  min-height: 100vh;
  background: $color-background;
  font-family: $font-default
}



