@import './base.scss';
@import 'primeicons/primeicons.css';

#__nuxt {
    margin: 0 auto;
    padding: 0 2rem;
    min-height: 100vh;
    max-width: $large-screen;
    display: flex;
    gap: 1rem;
}


@media screen and (max-width: $small-screen) {
    #__nuxt {
        flex-direction: column;
        margin: 0;
        padding: 2rem 1.5rem 0rem;
    }
    
}

